/ansible/site.retry
*.swp
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/history
xmonad/xmonad.state
xmonad/prompt-history
xmonad/build-x86_64-linux/
mc/hotlist
