[Unit]
Description=Lock X session using xscreensaver
Before=sleep.target

[Service]
User=deni
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/xscreensaver-command -lock

[Install]
WantedBy=sleep.target

